img {
    width: 100%;
    min-height: 100px;
  
    object-fit: cover;
  }

  #movieThumbnail{

     transition: transform 250ms;
  }
 
  #movieThumbnail:hover{
    transform: translateY(-30px);
    transform: scale(1.2);
    
  }
  